@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

    <div class="equBorder">
        <h3>Equipment Dashboard</h3>
        <div class="row margintopbot">
            <div class="col-md-6">
                <span>Operational</span><br/>
                <span>120</span>
            </div>
            <div class="col-md-6">
                <span>Non - Operational</span><br />
                <span>120</span>
            </div>
        </div>

        <div class="section">
            <div class="box">
                <div class="equipment">
                    <div class="graph" style="height:50%;"></div>
                    <div class="name">AHU</div>
                </div>

                <div class="equipment">
                    <div class="graph" style="height:35%;"></div>
                    <div class="name">Boiler</div>
                </div>

                <div class="equipment">
                    <div class="graph" style="height:48%;"></div>
                    <div class="name">FAP</div>
                </div>

                <div class="equipment">
                    <div class="graph" style="height:25%;"></div>
                    <div class="name">HVAC</div>
                </div>

                <div class="equipment">
                    <div class="graph" style="height:35%;"></div>
                    <div class="name">CCTV</div>
                </div>
                <div class="equipment">
                    <div class="graph" style="height:55%;"></div>
                    <div class="name">FCU</div>
                </div>
                <div class="equipment">
                    <div class="graph" style="height:47%;"></div>
                    <div class="name">Laptop</div>
                </div>
                <div class="equipment">
                    <div class="graph" style="height:38%;"></div>
                    <div class="name">Smoke Detector</div>
                </div>
                <div class="equipment">
                    <div class="graph" style="height:45%;"></div>
                    <div class="name">Service Life</div>
                </div>
            </div>
            <div class="equtext">
                <span>Equipment Type</span>
            </div>
        </div>
    </div>
